@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    margin: 2rem;
    }

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    box-sizing: border-box;
    }

.card-body {
    display: flex;
    flex-direction: column;
    }

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    }

.card-text {
    margin: 0.25rem 0;
    }

.form-body {
    display: flex;
    gap:1rem; 
    margin: 1rem;
    flex-direction: column;
}

.form-body button {
    align-self: flex-end;
    width: auto;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    margin: 2rem;
}